@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #4173a5;
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#welcome{
    color:#0a7eeb;
    text-shadow: 1px 1px 2px black;
}


.lead{
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #e4e8ed;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.navbar-brand {
    font-weight: 700;
    color: #e4e8ed !important;
}

.nav-link {
    color: #e4e8ed !important;
}

.nav-link:hover {
    color: #2980b9 !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}


.main-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/hombre_editando.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a7eeb;
    text-align: center;
    
}

.services-section {
    padding: 80px 0;
    background-color: #193a5a;
}

.card {
    background-color: #e4e8ed;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.card-title {
    font-weight: 600;
    color: #2980b9;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.video-section {
    padding: 60px 0;
    background-color: #4173a5;
    color: #e4e8ed;
    text-align: center;
}

.video-section iframe {
    border: 5px solid #193a5a;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

footer {
    padding: 40px 0;
    background-color: #193a5a;
    color: #f3f9ff;
}

footer h2 {
    margin-bottom: 20px;
}

footer form .form-control {
    background-color: #e4e8ed;
    color: #193a5a;
    border-radius: 5px;
    border: none;
}

footer form .btn-primary {
    background-color: #2980b9;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

footer form .btn-primary:hover {
    background-color: #1c5984;
    transform: scale(1.05);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

.social-icon.facebook {
    background-image: url('../images/facebook.jpg');
    background-position: left top;
}

.social-icon.facebook:hover {
    background-image: url('../images/facebook.jpg');
    background-position: left bottom;
}

.social-icon.twitter {
    background-image: url('../images/twitter.jpg');
    background-position: left top;
}

.social-icon.twitter:hover {
    background-image: url('../images/twitter.jpg');
    background-position: left bottom;
}

.social-icon.instagram {
    background-image: url('../images/instagram.jpg');
    background-position: left top;
}

.social-icon.instagram:hover {
    background-image: url('../images/instagram.jpg');
    background-position: left bottom;
}

.reviews-section {
    background-color: #212529;
    color: #193a5a;
    text-align: center;
}

.reviews-section h2 {
    margin-bottom: 40px;
}

.review-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.review-card img {
    border: 2px solid #193a5a;
}

.review-card p {
    margin-bottom: 10px;
}

.about-us-section {
    background-color: #e4e8ed;
    color: #333;
    padding: 80px 0;
}

.about-us-section h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #193a5a;
}

.about-us-section img {
    border-radius: 10px;
    max-height: 400px;
    object-fit: cover;
}

.about-us-section p {
    margin-bottom: 15px;
    line-height: 1.8;
    text-align: justify;
}
